*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
}

.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40%;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid blue;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: blue;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.main{
    background: url(./img/cuico\ padel.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}





.adidas{
    margin: 10px 20px 5px 11px ;
    background-color: rgb(118, 164, 205);
    border: 5px solid white;
    border-radius: 10%;
    padding: 20px 10px ;
    width: 15%; 
    
}
.buulpadel{
    margin: 10px 20px 5px 11px ;
    background-color: rgb(96, 153, 189);
    border: 5px solid white;
    border-radius: 10%;
    padding: 20px 10px ;
    width: 15%;
}
.nox{
    margin: 10px 20px 5px 11px ;
    background-color: rgb(118, 205, 204);
    border: 5px solid white;
    border-radius: 10%;
    padding: 20px 10px ;
    width: 15%;
}
.royal{
    margin: 10px 20px 5px 11px ;
    background-color: rgb(95, 166, 184);
    border: 5px solid white;
    border-radius: 10%;
    padding: 20px 10px ;
    width: 15%;
}
.wilson{
    margin: 10px 20px 5px 11px ;
    background-color: rgb(102, 185, 192);
    border: 5px solid white;
    border-radius: 10%;
    padding: 20px 10px ;
    width: 15%;
}
    
.contact{
    margin:30px;
    padding: 20px;
    color: rgb(104, 113, 58);
    
}

.gps{
    margin: 50px;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #56b3e9;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}



@media(min-width:500px){
    .contenedor{
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "header header "
        "nav nav"
        "section section"
        "section section"
        "section section"
        "footer footer";
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        border: 2cm;
    }
}

@media(min-width:700px){
    .contenedor{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "section section section"
        "section section section"
        "section section section"
        "footer footer footer";
    }

   
}