

@import"estructura";

@import"colores";
 


.navbar-brand{
    font-size: 2rem;
    color: $negro;
    .navbar-brand:hover{
        color: $negro;
    }
}


.nav-link{
    margin: 10px;
    margin-left: 10px;
    color:$negro ;
    text-transform: uppercase;
    .nav-link:hover{
        color: $negro;
    }
}

.search{
    height: 40%;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid $azul;
}
.btn0{
    height: 28px;
    width: 40%;
    outline: none;
    border: none;
    background-color: $azul;
    color: $blanco;
    border-radius: 60px;
    font-weight: 700;
}

.main{
    background: url("../img/cuico\ padel.png") ;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    .main h1{
        font-size: 4rem;
        font-weight: 700;
    }
}


.btn1{
    @extend.btn0;
    height: 45px;
    width: 35%;
    
       
}
.btn1:hover{
    background-color: $celeste;
    transition: 0.5s;
}


h1{
    font-weight: 700;
}
.card:hover{
    box-shadow: -15px -8px 48px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -15px -8px 48px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px -8px 48px -10px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.gps{
    margin: 80px;
    
}

.navbar-toggler-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.container{
    .p-ubicados{
        font-size: 1.8rem;
    }
}

