
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-principal: black;
    --color-secundario: blue;

}

$blanco: white;  

.navbar-brand{
    font-size: 2rem;
    color: var(--color-principal);
    .navbar-brand:hover{
        color: var(--color-principal);
    }
}


.nav-link{
    margin: 10px;
    margin-left: 10px;
    color: var(--color-principal);
    text-transform: uppercase;
    .nav-link:hover{
        color: var(--color-principal);
    }
}

.search{
    height: 40%;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid var(--color-secundario);
}
.btn0{
    height: 28px;
    width: 40%;
    outline: none;
    border: none;
    background: var(--color-secundario);
    color: $blanco;
    border-radius: 60px;
    font-weight: 700;
}

.main{
    background: url("../img/cuico\ padel.png") ;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    .main h1{
        font-size: 4rem;
        font-weight: 700;
    }
}


.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    font-weight: 700;
    border-radius: 60px;
   
    
}
.btn1:hover{
    background-color: rgb(0, 200, 255);
    transition: 0.5s;
}


h1{
    font-weight: 700;
}
.card:hover{
    box-shadow: -15px -8px 48px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -15px -8px 48px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px -8px 48px -10px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.gps{
    margin: 80px;
    
}

.navbar-toggler-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.container{
    .p-ubicados{
        font-size: 1.8rem;
    }
}